﻿@model DailyDeposit.ViewModel.DailyDepositLogCreateViewModel
@{ var sellist = new List<SelectListItem>();
    foreach (var item in Model.ManagerNames)
    {
        sellist.Add(new SelectListItem() { Text = item, Value = item });
    }
    string btnText = Model.IsUpdate ? "Save" : "Create";
}
<script type="text/javascript">
    function saleDateChange(obj) {
        
        $.ajax({
            type: 'GET',
            url: '/DailyDepositLog/GetFormData',
            data: { date: $(obj).val() },
            cache: false,
            success: function (result) {
                //var data = JSON.parse(result);
                if (result) {
                    if (result.Status == 1) {
                        var data = result.Data;
                        $('#DailyDepositLog_DepositAmount').val(data.DepositAmount.toFixed(2));
                        $('#DailyDepositLog_ManagerName').val(data.ManagerName);
                        $('#DailyDepositLog_DepositBagNo').val(data.DepositBagNo);
                        $('#DailyDepositLog_WitnessName').val(data.WitnessName);
                        $('#DailyDepositLog_DepositOverOrShort').val(data.DepositOverOrShort.toFixed(2));
                        $('#DailyDepositLog_IsDepositSealed').attr('checked', data.IsDepositSealed);
                        $('#btnSave').val('Save');
                    }
                    else if (result.Status == 2) {
                        $('#DailyDepositLog_DepositAmount').val("0.0");
                        $('#DailyDepositLog_DepositBagNo').val('');
                        $('#DailyDepositLog_DepositOverOrShort').val("0.0");
                        $('#DailyDepositLog_IsDepositSealed').attr('checked',false);
                        $('#btnSave').val('Create');

                    }
                }
                else {

                }
            }
        });
    }
</script>
@*@{ var Saledatelist = new List<SelectListItem>();


            Saledatelist.Add(new SelectListItem() { Text = date, Value = DateTime.Now.ToString()});

    }*@
@using (Html.BeginForm("Create", "DailyDepositLog", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Daily Deposit Log</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.DailyDepositLog.DepositAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DailyDepositLog.DepositAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DailyDepositLog.DepositAmount, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.DailyDepositLog.ManagerName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">

                    @Html.DropDownListFor(model => model.DailyDepositLog.ManagerName, sellist, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DailyDepositLog.ManagerName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.DailyDepositLog.DepositBagNo, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DailyDepositLog.DepositBagNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DailyDepositLog.DepositBagNo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.DailyDepositLog.WitnessName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.DailyDepositLog.WitnessName, sellist, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DailyDepositLog.WitnessName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.DailyDepositLog.DepositOverOrShort, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DailyDepositLog.DepositOverOrShort, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DailyDepositLog.DepositOverOrShort, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.DailyDepositLog.SaleDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @{ var listItems = new List<SelectListItem>();

                        for (int i = 0; i < Model.IncludedDays; i++)
                        {
                            listItems.Add(new SelectListItem { Value = DateTime.Now.AddDays(0 - i).ToString("dd MMM yyyy"), Text = DateTime.Now.AddDays(0 - i).ToString("dd MMM yyyy"), Selected = true });
                            //new SelectListItem { Value = DateTime.Now.AddDays(-1).ToString("dd MMM yyyy") , Text = DateTime.Now.AddDays(-1).ToString("dd MMM yyyy") }
                        }

                    }

                    @* <b> @Model.DailyDepositLog.SaleDate.ToString("dd MMM yyyy") </b>*@
                    @*@Html.DropDownListFor(Model => Model.DailyDepositLog.SaleDate,new SelectList(Model.DailyDepositLog.SaleDate))*@
                    @Html.DropDownList("SaleDate", new SelectList(listItems, "Value", "Text"), new { @class = "form-control", @onchange = "saleDateChange(this);" })

                </div>
            </div>
        </div>
    </div>
 
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.DailyDepositLog.IsDepositSealed, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.DailyDepositLog.IsDepositSealed, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DailyDepositLog.IsDepositSealed, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.DailyDepositLog.DailySales, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DailyDepositLog.DailySales, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DailyDepositLog.DailySales, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8" ;style="height: 34px;padding: 7px;padding-right: 29px">
                    <input type="submit" value="@btnText" id="btnSave" class="btn btn-danger" />
                    <br />
                    @Html.ValidationMessage("NotSaved", new { @style = "color:red;" })
                </div>
            </div>
        </div>
    </div>
</div>
}
