﻿@model DailyDepositLogViewModel
@using DailyDeposit.ViewModel;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TimeSpan restrictedTime = new TimeSpan(3, 0, 0);
    DailyDepositLogModel dailyDepositLog;
    DateTime dt;
    bool isUpdate = true;
    if (DateTime.Now.TimeOfDay < restrictedTime)
    {
        dt = DateTime.Now.AddDays(-1);
    }
    else
    {
        dt = DateTime.Now;
    }
    //DateTime SD = Convert.ToDateTime(Request.Form["SaleDate"]);
    dailyDepositLog = Model.DailyDepositLogs.Where(o =>o.SaleDate.Date==dt.Date).FirstOrDefault();
    if (dailyDepositLog == null)
    {
        isUpdate = false;
        dailyDepositLog = new DailyDepositLogModel() { SaleDate = dt};
    }
}


<p>
        @Html.Partial("Create", new DailyDepositLogCreateViewModel() {IncludedDays=Model.IncludedDays,IsUpdate=isUpdate, DailyDepositLog = dailyDepositLog, ManagerNames = Model.ManagerNames })
</p>
<hr style="width:100%;" />
<table class="table table-hover table-bordered table-striped" id="logList">
    <thead">
        <tr>
            <th>
                Manager Name
            </th>
            <th>
                Witness Name
            </th>
            <th>
                Deposit Amount
            </th>
            <th>
                Deposit Over Or Short
            </th>
            <th>
                Deposit Bag No
            </th>
            <th>
                Is Deposit Sealed
            </th>
            <th>
                Sale Date
            </th>
            <th>
                SubmittedDateTime
            </th>
            <th>
                DailySales
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DailyDepositLogs.OrderByDescending(o => o.SaleDate))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WitnessName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepositAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepositOverOrShort)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepositBagNo)
                </td>
                <td>
                    @if (item.IsDepositSealed)
        {
            @Html.Raw("Yes")
}
else
{
            @Html.Raw("No")
}


                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.SaleDate)*@
                    @*@Model.DailyDepositLogs.Select(modelItem => item.SaleDate.ToString("dd MMM yyyy"))*@
                    @*@Html.DisplayFor(modelItem => item.SaleDate)*@
                    @item.SaleDate.ToString("dd MMM yyyy")

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmittedDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DailySales)
                </td>
                @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
            </tr>
            }
        </tbody>
</table>
