﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
table#logList th {
    background-color: #616161;
    color: white;
}
table#logList {
    background-color: #cecece;
}
.hderBanner {
    margin: 30px auto 10px;
    text-align: center;
}
.navbar.ht {
    /* background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%); */
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    /* background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222)); */
    /* background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    background-color: #222;
    border-color: #080808;
}