

.errStyle
{
    FONT-SIZE: 8pt;
    COLOR: #ff0000;
    FONT-FAMILY: Arial;
    font-weight:bold;
    TEXT-ALIGN: left
}
.cellValueLeft
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.reqStyle
{
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
.pageCaptionWhite
{
	font-size: 12pt;
	font-family: Arial, 'Times New Roman';
	color:#ffffff;
	font-weight:bold;
}
.cellValueCaption
{
	font-size: 8pt;
	font-family: Arial;	
	color:black;
	font-weight:bold;
}
.pageCaption
{
	font-size: 12pt;
	font-family: Arial;
	text-align: center;
	color:black;
	font-weight:bold;
}
.btnSmallGrey
{
	border-right: #000000 1pt solid;
	border-top: #000000 1pt solid;
	font-weight: bold;
	font-size: 8pt;
	border-left: #000000 1pt solid;
	cursor: hand;
	border-bottom: #000000 1pt solid;
	font-family: Arial, 'Times New Roman';
	background-color: #d3d3d3;
}
