<%@ Page Language="vb" AutoEventWireup="false" %>
<% Response.CacheControl = "no-cache" %>
<% Response.AddHeader("pragma", "no-cache") %>
<% Response.Expires = -1 %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<TITLE>Flashsales</TITLE>
	</HEAD>
	<frameset cols="116,*" border="0" frameSpacing="0" frameBorder="0">
		<frame name="navigation" src="navbar.htm">
		<frameset rows="30,*" border="0">
			<frame name="topFrm" src="banner.htm?ts=<%=Now.ToShortDateString%>" scrolling="no" noresize>
			<frame name="content" src="company.htm?ts=<%=Now.ToShortDateString%>" scrolling="auto">
		</frameset>
	</frameset>
</HTML>
