﻿@using DDL.Helper;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Login - DepositLog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top @string.Concat(ApplicationVariable.Config.BrandName.ToLower()," header")">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">
                    <img alt="Hot Topic" src="~/Images/Logos/@ApplicationVariable.Config.BrandName/logo.png" title="Discount Seach Portal">
                </a>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>*@
        </div>
    </div>
       
            <div class="hderBanner">
                <a href="#">
                    <img class="banner-setting" alt="Hot Topic" src="~/Images/Logos/@ApplicationVariable.Config.BrandName/banner.jpg">
                </a>
            </div>
       

    <div class="container body-content" style="background: #ebebeb;margin-top: 10px;">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>Copy Right &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
